# Exported from Render on 2024-10-12T14:37:13Z
services:
- type: worker
  name: twenty:worker
  runtime: image
  image:
    url: docker.io/twentycrm/twenty:v0.24.1
    creds:
      fromRegistryCreds:
        name: dockerhub
  plan: standard
  envVars:
  - key: REFRESH_TOKEN_SECRET
    sync: false
  - key: LOGIN_TOKEN_SECRET
    sync: false
  - key: FILE_TOKEN_SECRET
    sync: false
  - key: ACCESS_TOKEN_SECRET
    sync: false
  - fromGroup: Twenty
  region: oregon
  dockerCommand: yarn run worker:prod
- type: web
  name: twenty:server
  runtime: image
  image:
    url: docker.io/twentycrm/twenty:v0.24.1
    creds:
      fromRegistryCreds:
        name: dockerhub
  plan: standard
  envVars:
  - key: REFRESH_TOKEN_SECRET
    sync: false
  - key: LOGIN_TOKEN_SECRET
    sync: false
  - key: FILE_TOKEN_SECRET
    sync: false
  - key: ACCESS_TOKEN_SECRET
    sync: false
  - fromGroup: Twenty
  region: oregon
  dockerCommand: yarn run start:prod
  disk:
    name: disk
    mountPath: /.local-storage
    sizeGB: 5
version: "1"
